<script lang="ts" setup>
import { ref } from "vue";
class SP {
  id: number;
  name: string;
  price: number;
  static lastId = 1;
  constructor(name: string, price: number) {
    this.id = SP.lastId++;
    this.name = name;
    this.price = price;
  }
}
const sum = ref(0);

const selectedProducts = ref<SP[]>([]);
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

function add(sp: SP) {
  selectedProducts.value.push(sp);
  sum.value = sum.value + sp.price;
  console.log(selectedProducts);
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-card style="overflow-y: auto" height="840px">
          <v-row>
            <v-col cols="4" v-for="item of products" :key="item.id"
              ><v-card class="text-center" height="150px" width="200px">
                <label class="name">{{ item.name }}</label> <br />
                <label>{{ item.price }}</label> <br />
                <v-btn @click="add(item)">add</v-btn>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-card style="overflow-y: auto" height="730px">
          <v-table>
            <thead>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </thead>
            <tbody>
              <tr v-for="item of selectedProducts" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
              <tr>
                <td
                  colspan="5"
                  style="text-align: center"
                  v-if="selectedProducts.length === 0"
                >
                  No Data
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>

        <label class="sum">Sum: {{ sum }}</label>
      </v-col>
    </v-row>
  </v-container>
</template>
<style>
.name {
  font-size: 32px;
}
.sum {
  font-size: 76px;
}
</style>
