<script lang="ts" setup>
import { ref } from "vue";
const pic = ref("../../feeling_imgs/smile.png");
const name = ref("Smile");
const type = ref("host");
function Ans(namef: string, pict: string) {
  pic.value = pict;
  name.value = namef;
}
</script>
<template>
  <v-container fluid>
    <v-row class="text-center">
      <v-col cols="6">
        <v-img :src="pic"> </v-img>
      </v-col>
      <v-col cols="6">
        <v-col
          ><v-card-text
            ><label>{{ name }}</label></v-card-text
          ></v-col
        >
        <v-col
          ><v-btn
            v-bind:color="name === 'Angry' ? 'yellow' : ''"
            block
            @click="Ans('Angry', 'feeling_imgs/angry.png')"
            >ANGRY</v-btn
          ></v-col
        >
        <v-col
          ><v-btn
            v-bind:color="name === 'Cute' ? 'yellow' : ''"
            block
            @click="Ans('Cute', 'feeling_imgs/cute.png')"
            >CUTE</v-btn
          ></v-col
        >
        <v-col
          ><v-btn
            v-bind:color="name === 'Excited' ? 'yellow' : ''"
            block
            @click="Ans('Excited', 'feeling_imgs/excited.png')"
            >EXCITED</v-btn
          ></v-col
        >
        <v-col
          ><v-btn
            v-bind:color="name === 'Pain' ? 'yellow' : ''"
            block
            @click="Ans('Pain', 'feeling_imgs/pain.png')"
            >PAIN</v-btn
          ></v-col
        >
        <v-col
          ><v-btn
            v-bind:color="name === 'Shocked' ? 'yellow' : ''"
            block
            @click="Ans('Shocked', 'feeling_imgs/shocked.png')"
            >SHOCKED</v-btn
          ></v-col
        >
        <v-col
          ><v-btn
            v-bind:color="name === 'Smile' ? 'yellow' : ''"
            block
            @click="Ans('Smile', 'feeling_imgs/smile.png')"
            >SMILE</v-btn
          ></v-col
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
label {
  font-size: 36px !important;
}
</style>
