<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <h2>First Component</h2>
  <h2>{{ counterStore.count }}</h2>
  <br />
  <v-btn @click="counterStore.increment"><label>INCREMENT</label></v-btn>
</template>
