<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <h2>Second Component</h2>
  <h2>{{ counterStore.doubleCount }}</h2>
  <br />
  <v-btn @click="counterStore.decrement"><label>DECREASE</label></v-btn>
</template>
